:root {
  --backgroundColor: #650505;
  --lightBackgroundColor: none;
  --redColor: #d0021b;
  --lightRedColor: #e36776;
  --yellowColor: #fff3c8;
  --greenColor: #a7ff91;
  --lightBlueColor: #dbe4f0;
  --hoverBlueColor: none;
  --brightBlueColor: #323538;
  --activeColor: #8a8d96;
  --dimTextColor: #f8f9fc;
  --disabledTextColor: #eff2f6;
  --paragraphColor: #f9f4f4;
  /* Color for Front Page left Column*/
  --darkBlueColor: #710909;
  --disabledBlueColor: #1a477b;
}

html,
body {
  background-color: var(--backgroundColor);
}

.App {
  color: rgb(244, 235, 235);
  font-family: 'Inter', sans-serif;
}

.App main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.App .primary {
  flex: 1;
  background-color: var(--backgroundColor);
}

.App header nav {
  min-height: 0px;
}

.App header .navbar-brand {
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.App header .navbar-brand:hover {
  color: white;
}

.App header nav {
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
}

.App header svg {
  margin-right: 10px;
}

.App header .nav-buttons {
  display: flex; /* Enable flexbox for the button container */
  justify-content: center; /* Center the buttons within their container */
}

/* BUTTON */
.App game button {
  background: none;
  font-weight: 700;
  color: white;
  padding: 8px 10px;
  border-radius: 4px;
  border: solid 1px white;
}

.App button {
  background-color: var(--brightBlueColor); /* Use your blue color variable */
  font-weight: 700;
  color: white;
  padding: 8px 10px;
  border-radius: 4px;
  border: solid 1px rgb(12, 12, 12);
}

.App button:disabled {
  border-color: var(--disabledTextColor);
  color: var(--disabledTextColor);
}

.App button:hover:enabled {
  background-color: var(--lightBackgroundColor);
}

.App button:focus:enabled {
  outline: none;
}

.App button.text-button {
  font-weight: 500;
  color: var(--dimTextColor);
  border: none;
}

.App button.text-button:hover {
  color: white;
}

/* FOOTER Mobile approved */

.App #footer-simple {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Optional: Stack elements vertically */
}

/* LOBBY */

.App #lobby-left {
  flex-grow: 500;
  flex-basis: 30px;
  background-image: url('./Assets/IC\ Trivia\ FB\ Banner.png');
  background-size: 100%; /* Zoom out the image */
  background-repeat: no-repeat;
  background-position: center; /* Center the image */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.App #lobby-right {
  flex-grow: 60;
  flex-basis: 280px;
  background-size: 100%; /* Adjust this value to control zoom */
  background-repeat: no-repeat;
  background-position: center;
}
.container-half {
  width: 100%;
  max-width: 500px;
  padding-right: 40px;
  padding-left: 40px;
}

@media screen and (max-width: 768px) {
  .App #lobby-left .container-half {
    padding-right: 20%; /* Adjust as needed */
    margin-top: 100px;
  }

  .App #lobby-right .container-half {
    padding-left: 0%;
    margin-top: 100px;
  }
}


.App #lobby-right .container-half {
  margin-right: auto;
  margin-top: 400px;
  padding-left: 60px;
}

.App #lobby .container-mobile {
  margin-top: px;
  padding: 15px;
  max-width: 450px;
}

.App .divider {
  border: 1px solid var(--activeColor);
  margin: 6px auto;
  width: 100%;
}

.App .touts > :not(:first-child) {
  margin-top: 40px;
}

.App .touts h4 {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 100%;
}

.App .touts p {
  color: var(--paragraphColor);
  line-height: 100%;
  font-size: 1rem;
  display: inline-block; /* Add this */
}

.App .lobby-form h3 {
  font-size: 3rem;
  margin-bottom: 100px;
}

.App .lobby-form .form-group:not(:first-of-type) {
  margin-top: 4rem;
}

.App .lobby-form .error-message {
  height: 1rem;
  font-size: 0.9rem;
  color: var(--lightRedColor);
  font-weight: 500;
  text-align: center;
}

.App .lobby-form button[type='submit'] {
  width: 100%;
  background-color: var(--brightBlueColor);
  border: none;
  margin-top: 1rem;
  padding: 12px 15px;
}

.App .lobby-form button[type='submit']:hover {
  background-color: var(--hoverBlueColor);
}

.App .lobby-form button[type='submit']:disabled {
  background-color: var(--disabledBlueColor);
}

.App .lobby-form button.inline {
  background: none;
  border: none;
  padding: 0;
  font-weight: 500;
  display: inline-block;
  color: var(--lightBlueColor);
  width: auto;
}

.App .lobby-form .switcher {
  text-align: center;
  margin-top: 1.5rem;
  font-size: 0.9rem;
}

.App .lobby-form button.inline:hover {
  opacity: 0.5;
}

/* GAME */
.App #game .container-loading {
  margin-top: 80px;
  text-align: center;
}

.App #game .container {
  text-align: center;
  margin-top: 50px;
}

.App #room-title {
  margin-bottom: 50px;
}

.App .warning {
  color: var(--lightRedColor);
  font-weight: 500;
}

.App #buzzer {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.App #buzzer > button {
  width: 300px; /* Adjust as needed */
  height: 300px; /* Adjust as needed */
  border-radius: px;
  background-image: url('Assets/MaxD20.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  color: rgb(248, 243, 243);
  border: 200px;
  font-weight: 1000;
  font-size: 4rem;
  user-select: none;

  /* Add a text border */
  -webkit-text-stroke: 3px rgb(8, 8, 8);
}

.App #buzzer > button:hover {
  background-color: var(--hoverBlueColor);
}

.App #buzzer > button:active {
  background-color: var(--darkBlueColor);
}

.App #buzzer > button:disabled {
  background-color: var(--lightBackgroundColor);
}

@media screen and (max-width: 767px) {
  .App #buzzer > button {
    max-width: 400px;
    max-height: 400px;
  }
}

.App .settings {
  margin-top: 50px;
}

.App .settings > .button-container:not(:first-child) {
  margin-top: 550px;
}

.App .settings button:hover:disabled {
  background-color: none;
}

.App .settings .divider {
  margin: 40px auto;
  width: 50%;
}

.App #reset {
  margin: 30px 0;
}

.App .queue {
  margin-top: 40px;
}

.App .queue p {
  margin-bottom: 0;
}

.App .queue ul {
  padding: 0;
  list-style-type: none;
}

.App .queue li {
  font-size: 1.5rem;
}

.App .queue li .player-sign {
  display: inline-block;
  min-width: 150px;
  padding: 5px 15px;
  border-radius: 4px;
  transition: all ease-in-out 0.1s;
}

.App .queue li .name {
  font-weight: 600;
}

.App .queue li.resettable .player-sign {
  cursor: pointer;
}

.App .queue li.resettable .player-sign:hover {
  background-color: var(--lightBackgroundColor);
}

.App .queue .disconnected {
  margin-left: 5px;
  color: var(--redColor);
  opacity: 1;
}

.App .mini {
  font-size: 1rem;
}

.App .tiny {
  font-size: 0.8rem;
}

.App .bold {
  font-weight: 600;
}

.App .dim {
  opacity: 0.5;
}

.image-container {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  perspective: 4000px;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .image-container {
    gap: 2px; /* Reduced gap for smaller screens */
    perspective: 2000px; /* Adjust perspective for mobile */
  }

  .image-container img {
    margin: 10px; /* Reduced margin for smaller screens */
  }

  .image-container img:not(:first-child):not(:last-child) {
    animation: coin-spin-mobile 10s linear infinite; /* Separate animation for mobile */
  }

  @keyframes coin-spin-mobile {
    /* You can adjust these keyframes for a different mobile animation */
    0% {
      transform: rotateY(0deg) translateZ(0px);
    }
    50% {
      transform: rotateY(180deg) translateZ(50px);
    } /* Less translateZ for mobile */
    100% {
      transform: rotateY(360deg) translateZ(0px);
    }
  }
}
